html {
  scroll-behavior: smooth;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #4b0082;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: width 0.1s ease, height 0.1s ease, border 0.1s ease;
}

body {
  cursor: none;
}

.custom-cursor-active {
  width: 40px;
  height: 40px;
  border: 2px solid #ffff00;
}
