@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes bounceHorizontal {
  0% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  animation: bounceHorizontal linear infinite;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.dot:nth-child(odd) {
  background-color: rgba(255, 105, 180, 0.8); /* Pink dots */
}

.dot:nth-child(even) {
  background-color: rgba(0, 191, 255, 0.8); /* Blue dots */
}

.dot-1 {
  top: 10%;
  left: 20%;
  animation-duration: 12s;
}
.dot-2 {
  top: 20%;
  left: 40%;
  animation-duration: 10s;
}
.dot-3 {
  top: 30%;
  left: 60%;
  animation-duration: 14s;
}
.dot-4 {
  top: 40%;
  left: 80%;
  animation-duration: 8s;
}
.dot-5 {
  top: 50%;
  left: 10%;
  animation-duration: 16s;
}
.dot-6 {
  top: 60%;
  left: 30%;
  animation-duration: 9s;
}
.dot-7 {
  top: 70%;
  left: 50%;
  animation-duration: 11s;
}
.dot-8 {
  top: 80%;
  left: 70%;
  animation-duration: 13s;
}
.dot-9 {
  top: 90%;
  left: 90%;
  animation-duration: 15s;
}
.dot-10 {
  top: 25%;
  left: 15%;
  animation-duration: 17s;
}
.dot-11 {
  top: 35%;
  left: 35%;
  animation-duration: 7s;
}
.dot-12 {
  top: 45%;
  left: 55%;
  animation-duration: 18s;
}
.dot-13 {
  top: 55%;
  left: 75%;
  animation-duration: 10s;
}
.dot-14 {
  top: 65%;
  left: 5%;
  animation-duration: 14s;
}
.dot-15 {
  top: 75%;
  left: 25%;
  animation-duration: 9s;
}
.dot-16 {
  top: 85%;
  left: 45%;
  animation-duration: 13s;
}
.dot-17 {
  top: 15%;
  left: 65%;
  animation-duration: 11s;
}
.dot-18 {
  top: 25%;
  left: 85%;
  animation-duration: 8s;
}
.dot-19 {
  top: 35%;
  left: 5%;
  animation-duration: 12s;
}
.dot-20 {
  top: 45%;
  left: 25%;
  animation-duration: 16s;
}
